body {
    background-color: #165e74;
  }
  
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  main h1 {
    font-family: 'Lilita One', cursive;
    color: rgb(254, 255, 172);
    font-size: 10vw;
    letter-spacing: -2px;
  }