body {
    background-color: #160834;
  }
  
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .main h1 {
    font-family: 'Lilita One';
    color: rgb(227, 23, 159);
    font-size: 10vw;
    letter-spacing: -2px;
  }